* {
  box-sizing: border-box; }

body {
  background-color: lightgray; }

.ListSlide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 40px;
  margin-top: 15px; }
  .ListSlide a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px; }

.main-carousel {
  background: #2E2E2E;
  text-align: center; }
  .main-carousel .carousel-cell {
    width: 100vw;
    height: 50vh;
    min-height: 250px;
    background-size: 100% 100%;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: end;
        align-items: flex-end;
    margin-right: 10px; }
    .main-carousel .carousel-cell .container {
      max-width: 1200px; }
      .main-carousel .carousel-cell .container p {
        font-size: 36px;
        color: #fff;
        font-style: italic; }

.buttonRes {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px; }

.progress-bar {
  height: 10px;
  width: 0;
  background: grey; }
