* {
  box-sizing: border-box; }

.ListSlide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 40px;
  margin-top: 15px; }
  .ListSlide a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: blue; }

.main-carousel .carousel-cell {
  height: 50vh;
  width: 100vw;
  min-height: 250px;
  margin-right: 10px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-carousel .carousel-cell .container {
    justify-content: center;
    max-width: 1200px; }
    .main-carousel .carousel-cell .container h1 {
      text-align: center;
      font-size: 36px;
      color: white;
      font-weight: bold; }
    .main-carousel .carousel-cell .container p {
      font-size: 20px;
      color: #fff;
      font-style: italic; }

.buttonRes {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  background-color: blue; }
  .buttonRes #buttonReset {
    background-color: lightblue;
    color: grey; }

.progress-bar {
  height: 10px;
  width: 0;
  background: grey; }

#map {
  height: 50vh;
  width: 100%; }
